<template>
  <div class="q-pa-md">
    <div v-if="allReady">
      <div class="row">
        <div class="col">
          <span
            class="text-subtitle2"
          >Total balance: {{ totalBalance && currencyFormat(totalBalance) }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col chart-container">
          <BalanceChart
            v-if="!!expensesChartData"
            v-model="expensesChartData"
            style="max-height: 30vh"
            title="Expenses & Pledges"
            :show-legend="false"
          />
        </div>
      </div>
      <div class="row">
        <div class="col chart-container">
          <BalanceChart
            v-if="!!balancesChartData"
            v-model="balancesChartData"
            style="max-height: 30vh"
            title="Balances"
            :show-legend="false"
          />
        </div>
      </div>

      <div class="row">
        <h6 class="q-my-sm">
          Suggested settlements
        </h6>

        <vue-mermaid
          v-if="mermaidNodes"
          :nodes="mermaidNodes"
          type="graph TD"
        />
      </div>

      <div class="q-pa-sm row items-start q-gutter-sm">
        <q-card
          v-for="payment in settlePayments"
          :key="payment.from + payment.to"
          class="settlement-card"
        >
          <q-item>
            <q-item-section avatar>
              <q-avatar>
                <img src="https://cdn.quasar.dev/img/avatar2.jpg">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>
                <NameBadge :person="payment.from" />
              </q-item-label>
              <q-item-label caption>
                <strong>{{ currencyFormat(payment.amount) }}</strong> ->
                <NameBadge :person="payment.to" />
              </q-item-label>
            </q-item-section>
          </q-item>
          <!-- <q-card-section>
          <NameBadge :person="payment.from" />
          <q-icon name="arrow_forward" />
          <NameBadge :person="payment.to" />
        </q-card-section>
        <q-card-section>
          <strong>{{ currencyFormat(payment.amount) }}</strong>
          </q-card-section>-->

          <!-- <q-card-actions align="around">
          <q-btn
            flat
            round
            color="primary"
            icon="done"
          />
          <q-btn
            flat
            round
            color="teal"
            icon="send"
          />
          </q-card-actions>-->
        </q-card>
      </div>

      <div v-if="user.isAdmin">
        <div class="row q-pt-lg">
          <h6 class="q-my-sm">
            More fancy Charts ;)
          </h6>
        </div>

        <SigmaChart
          v-if="settlePayments"
          :settlements="settlePayments"
        />
        <plotly
          v-if="plotlyData"
          :data="plotlyData"
          :layout="plotlyLayout"
        />
      </div>
    </div>
    <q-inner-loading :showing="!allReady" />
  </div>
</template>

<script>
import _ from 'lodash'
import BalanceChart from '../components/charts/BalanceChart'
import SigmaChart from '../components/charts/SigmaChart'
import NameBadge from '../components/NameBadge'
import currency from 'currency.js'
import { colorHash, isColorDark } from '../utils/color-utils'
import { currencyFormat } from '../utils/currency-utils'
import { hexEncodeStr, allSupplyGetters } from '../utils/utils'
import { Plotly } from 'vue-plotly'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'

export default {
  components: {
    BalanceChart,
    SigmaChart,
    NameBadge,
    Plotly
  },
  mixins: [useSupply(MainData)],
  props: { colors: { type: Array, default: () => ['green', 'blue'] } },
  data: () => ({}),
  computed: {
    ...allSupplyGetters(MainData),

    totalBalance () {
      const balances = this.aggregatedBalances
      if (!balances) return null
      return _.values(balances)
        .reduce((curr, val) => curr.add(val), currency(0))
        .multiply(-1)
    },
    expensesChartData () {
      const expAndPlg = this.aggregatedExpensesAndPledges
      console.log('expAndPlg', expAndPlg)
      const { persons, outstanding, instanding } = expAndPlg
      if (!persons) return null
      return {
        labels: persons,
        datasets: [
          {
            label: 'Expenses & Received',
            data: persons.map(p => outstanding[p]),
            backgroundColor: persons.map(p => colorHash.hex(p))
          },
          {
            label: 'Pledges',
            data: persons.map(p => instanding[p]),
            backgroundColor: persons.map(p => colorHash.hex(p))
          }
        ]
      }
    },
    balancesChartData () {
      const balances = this.aggregatedBalances
      if (!balances) return null
      const persons = _.keys(balances)
      return {
        labels: persons,
        datasets: [
          {
            label: 'Balance',
            data: persons.map(p => balances[p]),
            backgroundColor: persons.map(p => colorHash.hex(p))
          }
        ]
      }
    },
    mermaidNodes () {
      const settlements = this.settlePayments
      if (!settlements) return null
      let nodes = settlements.map(settlement => ({
        id: hexEncodeStr(settlement.from),
        text: settlement.from,
        link: `-->|${currencyFormat(settlement.amount)
          .replace('€', '')
          .trim()}|`,
        next: [hexEncodeStr(settlement.to)],
        edgeType: 'round',
        style: `fill:${colorHash.hex(settlement.from)},color:${
          isColorDark(colorHash.hex(settlement.from)) ? 'white' : 'black'
        }`
      }))
      const receivers = _.map(settlements, 'to').filter(
        name => !_.find(settlements, { from: name })
      )
      nodes = nodes.concat(
        receivers.map(name => ({
          id: hexEncodeStr(name),
          text: name,
          style: `fill:${colorHash.hex(name)}`
        }))
      )
      return nodes
    },
    plotlyLayout: () => ({
      title:
        "Energy forecast for 2050, UK — Department of Energy & Climate Change<br>Imperfect copy of <a href='https://bost.ocks.org/mike/sankey/'>Mike Bostock's example</a><br>with numerous <a href='https://plot.ly/javascript/'>Plotly</a> features",
      width: 1118,
      height: 772,
      font: {
        size: 10
      }
    }),
    plotlyData () {
      const settlements = this.settlePayments
      if (!settlements) return null
      const senders = _.map(settlements, 'from')
      const receivers = _.map(settlements, 'to') // .filter(name => !_.find(settlements, { from: name }))
      const allNames = [...senders, ...receivers]
      const plotlyGraph = {
        type: 'sankey',
        orientation: 'v',
        valuesuffix: ' €',
        valueformat: '.00f',
        node: {
          pad: 15,
          thickness: 30,
          line: {
            color: 'black',
            width: 0.5
          },
          label: allNames,
          color: allNames.map(name => colorHash.hex(name))
        },
        link: {
          source: settlements.map(s => _.indexOf(allNames, s.from)),
          target: settlements.map(s => _.indexOf(allNames, s.to)),
          value: settlements.map(s => s.amount.value)
        }
      }
      console.debug(plotlyGraph)
      return [plotlyGraph]
    }
  },
  methods: {
    currencyFormat
  }
}
</script>

<style lang="sass">
.chart-container
  // https://www.chartjs.org/docs/latest/general/responsive.html#important-note
  position: relative

.settlement-card
  .q-card__section
    padding-bottom: 0

.mermaid
  max-width: 100vw
  overflow-x: auto
</style>
