<template>
  <div class="q-pa-md">
    <div v-if="user">
      <q-btn-group
        v-if="!user.readOnly"
        class="q-mb-md"
      >
        <q-btn
          label="Add expense"
          icon="add"
          bordered
          @click="addModalOpen = true"
        />
        <q-btn
          v-if="user.isAdmin"
          label="Import CSV"
          icon="timeline"
          bordered
          @click="csvImporterOpen = true"
        />
        <q-btn
          v-if="user.isAdmin"
          label="Export CSV"
          icon="get_app"
          bordered
          @click="exportCsv()"
        />
      </q-btn-group>

      <div class="row">
        <div class="col">
          <span class="text-subtitle2">Total expenses: {{ currencyFormat(totalExpenses) }}</span>
        </div>
      </div>
      <base-table
        class="expenses-table"
        title="Expenses"
        :data="expenses"
        :columns="fields"
        :loading="!allReady"
      />

      <AddModal
        v-model="addModalOpen"
        entity-name="Expense"
        :fields="fields"
        @result="addExpense"
      />
      <CsvImporter
        v-model="csvImporterOpen"
        :fields="fields"
        @result="importCsv"
      />
    </div>
    <div v-else>
      Not logged in
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import CsvImporter from '../components/CsvImporter'
import AddModal from '../components/AddModal'
import BaseTable from '../components/BaseTable'
import { addExpense } from 'api/expenses/methods'
import currency from 'currency.js'
import { csvExport } from '../utils/csv-utils'
import { currencyFormat } from '../utils/currency-utils'
import { FieldType, findOrCreatePerson } from '../datamodel/data-helper'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters } from '../utils/utils'

export default {
  components: {
    CsvImporter,
    AddModal,
    BaseTable
  },
  mixins: [useSupply(MainData.name)],
  data: () => ({
    csvImporterOpen: false,
    addModalOpen: false,
    filter: '',
    fields: [
      FieldType.TITLE,
      {
        ...FieldType.PERSON,
        name: 'payer',
        label: 'Payer',
        field: 'payer',
        hints: ['payer', 'who', 'from']
      },
      FieldType.DATE,
      FieldType.AMOUNT
    ]
  }),
  computed: {
    ...allSupplyGetters(MainData),

    totalExpenses () {
      return this.expenses
        .map(e => e.amount)
        .reduce((curr, val) => curr.add(val), currency(0))
    }
  },
  created () {
    this.$startMeteor()
  },
  methods: {
    async addExpense (entry) {
      this.addModalOpen = false
      await this.prepareEntry(entry)
      console.log('Creating expense:', entry)
      addExpense.call(entry, (err, result) => {
        if (err) console.error('Failed to add expense:', err)
      })
    },
    async importCsv (entries) {
      this.csvImporterOpen = false
      for (const entry of entries) {
        await this.prepareEntry(entry)
        addExpense.call(entry, (err, result) => {
          if (err) console.error('Failed to add expense:', err)
        })
      }
    },
    async prepareEntry (entry) {
      console.log('Preparing expense:', entry)
      entry.date = moment(entry.date).format()
      entry.group = this.myGroup._id
      entry.amount = currency(entry.amount).value
      const payer =
        typeof entry.payer === 'string'
          ? await findOrCreatePerson(entry.payer, this.groupMembers)
          : entry.payer
      if (!_.find(this.groupMembers, { _id: payer._id })) { console.warn('Inserted payer, but ID not in minimongo:', payer._id) }
      entry.payer = payer._id
    },
    async exportCsv () {
      csvExport(this.expenses)
    },
    currencyFormat
  }
}
</script>

<style lang=sass>

</style>
