<template>
  <div v-if="allReady && user && (!user.persons || !user.persons.length)">
    <q-banner class="bg-warning text-white">
      <h6>You are not a valid member. Please contact the admin to resolve this situation.</h6>
    </q-banner>
  </div>
  <div
    v-else-if="allReady && myPerson && (!myPerson.groups || !myPerson.groups.length)"
  >
    <q-banner class="bg-warning text-white">
      <h6>You are not member of a group. Please contact the admin to resolve this situation.</h6>
    </q-banner>
  </div>

  <div
    v-else
    class="q-pa-md"
  >
    <div
      v-if="user"
      class="row"
    >
      <div class="balance-card col-xs-12 col-sm-8 col-md-6 col-lg-4 bg-primary q-pa-md rounded-borders text-white">
        <div class="row justify-between">
          <div class="flex-grow">
            <div class="text-subtitle2">
              Hello {{ myPerson ? myPerson.name : user.profile.name }}
            </div>
            <div class="text-h6">
              <span class="text-weight-regular">Your balance:</span> {{ currencyFormat(myBalance) }}
            </div>
          </div>
          <q-icon
            name="account_balance_wallet"
            class="balance-icon gt-xs self-center"
          />
        </div>
      </div>
    </div>

    <div class="text-h6 q-mt-lg q-mb-sm text-grey-7">
      {{ !myBalance ? '' : myBalance > 0 ? 'You are owed' : 'You owe' }}
    </div>

    <div class="row q-col-gutter-md">
      <div
        v-for="payment of paymentsToReceive"
        :key="payment.from"
        class="settlement-card-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2"
      >
        <SettlementCard
          :payment="payment"
          other="from"
        />
      </div>
      <div
        v-for="payment of paymentsToDo"
        :key="payment.to"
        class="settlement-card-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2"
      >
        <SettlementCard
          :payment="payment"
          other="to"
        />
      </div>
    </div>

    <q-inner-loading :showing="!allReady" />
  </div>
</template>

<script>
// import _ from 'lodash'
// import currency from 'currency.js'
// import { colorHash, isColorDark } from '../utils/color-utils'
import { currencyFormat } from '../utils/currency-utils'
// import { hexEncodeStr } from '../utils/utils'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters } from '../utils/utils'
import { colorHash } from '../utils/color-utils'
import SettlementCard from '../components/SettlementCard'

export default {
  components: { SettlementCard },
  mixins: [useSupply(MainData.name)],
  props: {},
  data: () => ({}),
  computed: {
    ...allSupplyGetters(MainData),

    mySettlePayments: function () {
      const settlements = this.settlePayments
      // if (!this.settlePayments) return null
      if (!settlements || !this.myPerson) return null
      return settlements.filter(
        s => s.from === this.myPerson.name || s.to === this.myPerson.name
      ).map(settlement => {
        settlement.fromColor = colorHash.hex(settlement.from)
        settlement.toColor = colorHash.hex(settlement.to)
        return settlement
      })
    },
    paymentsToReceive: self =>
      self.mySettlePayments &&
      self.mySettlePayments.filter(p => p.to === self.myPerson.name),
    paymentsToDo: self =>
      self.mySettlePayments &&
      self.mySettlePayments.filter(p => p.from === self.myPerson.name)
  },
  methods: {
    currencyFormat,

    markDone (payment) {
      this.$q.notify({
        message: 'Sorry, I haven\'t gotten to this part yet.'
      })
    }
  }
}
</script>

<style lang="sass">
.balance-icon
  font-size: 42px
@media(max-width:300px)
  .row > .col-xs-6
    width: 100%
@media(min-width:2000px)
  .settlement-card-wrapper
    width: 230px !important
  .balance-card
    width: 700px !important
</style>
