<template>
  <div v-if="!registerLoading && inviteInvalid">
    <q-banner class="bg-negative text-white">
      Unfortunately, this invite link is not valid.
      <template v-slot:action>
        <q-btn
          flat
          color="white"
          icon="back"
          label="To homepage"
          @click="$router.push('/')"
        />
      </template>
    </q-banner>
  </div>
  <div v-else-if="!registerLoading && userId">
    <q-banner class="bg-negative text-white">
      You are already registered.
      <br>Currently you cannot join two groups. (Work in progress)
      <template v-slot:action>
        <q-btn
          flat
          color="white"
          icon="back"
          label="To homepage"
          @click="$router.push('/')"
        />
      </template>
    </q-banner>
  </div>
  <div
    v-else
    class="q-pa-md column items-center"
  >
    <component :is="$q.screen.gt.xs ? 'h3' : 'h4'">
      Welcome to
      <strong class="text-color-primary">Paymints</strong>
    </component>
    <div>
      <div v-if="inviteGroup">
        <q-card class>
          <q-card-section>
            <div class="text-h6">
              You have been invited to join the group {{ inviteGroup.name }}
            </div>
          </q-card-section>

          <q-card-section>
            <q-form
              class="q-gutter-md"
              @submit="register"
            >
              <q-select
                v-model="registerForm.person"
                label="Person in the group"
                filled
                use-input
                hide-selected
                fill-input
                input-debounce="50"
                :options="filteredPersons"
                option-value="_id"
                option-label="name"
                lazy-rules
                :rules="[ personCheck ]"
                @filter="personFilter"
              />
              <!-- new-value-mode="add-unique" -->
              <q-input
                v-model="registerForm.email"
                filled
                type="email"
                label="Email"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please enter your email']"
              />
              <q-input
                v-model="registerForm.password"
                filled
                label="Password"
                type="password"
                lazy-rules
                :rules="[ val => val && val.length > 6 || 'Please enter a password']"
                @keyup.enter="register"
              />

              <div>
                <q-btn
                  type="submit"
                  color="primary"
                  loader
                  class="full-width"
                >
                  Create account
                </q-btn>
              </div>
            </q-form>
          </q-card-section>

          <q-inner-loading :showing="registerLoading" />
        </q-card>
      </div>

      <q-inner-loading :showing="!$subReady['groups.invite']" />
    </div>
  </div>
</template>

<script>
import { Accounts } from 'meteor/accounts-base'
import { Groups } from 'api/groups/collection'
import { Persons } from 'api/persons/collection'
import { Meteor } from 'meteor/meteor'
import { useInvite } from 'api/groups/methods'
// import _ from 'lodash'
import { errorNotify } from '../utils/utils'

export default {
  name: 'PageIndex',
  data () {
    return {
      registerLoading: false,
      filteredPersons: null,
      registerForm: {
        email: '',
        password: '',
        person: null
      }
    }
  },
  meteor: {
    $subscribe: {
      'groups.invite': function () {
        return [this.groupId]
      }
    },
    userId () {
      return Meteor.userId()
    },
    inviteGroup () {
      return Groups.findOne({ _id: this.groupId })
    },
    persons () {
      return Persons.find({ /* groups: this.groupId // only those should be published */ })
    }
  },
  computed: {
    groupId () {
      return this.$route.params.id
    },
    inviteInvalid () {
      console.log('invalid?', this.$subReady['groups.invite'], this.inviteGroup)
      return this.$subReady['groups.invite'] && !this.inviteGroup
    }
  },

  methods: {
    personCheck: val => { console.log('person check', val); return val || 'Please select who you are' },
    personFilter: function (val, update, abort) {
      update(() => {
        this.filteredPersons = this.persons.filter(p => p.name.toLowerCase().indexOf(val.toLowerCase()) > -1)
      })
    },

    register () {
      this.registerLoading = true
      console.log('Accounts:', Accounts)
      Accounts.createUser(
        {
          createdAt: new Date(),
          email: this.registerForm.email,
          password: this.registerForm.password,
          profile: { name: this.registerForm.person.name }
        },
        (err, res) => {
          if (err) {
            errorNotify(err)
            this.registerLoading = false
          } else {
            console.log('Account created - adding person', this.registerForm.person, 'to group', this.groupId)
            useInvite.callPromise({ personId: this.registerForm.person._id, groupId: this.groupId })
              .then(() => {
                this.$q.notify({
                  message: 'You successfully signed up :)',
                  color: 'positive'
                })
                this.$router.push('/home')
                // window.location.href = '/home'
                // this.$supply.MainData.reloadSupply()
              }).catch(err => {
                errorNotify(err)
              })
          }
        }
      )
    }
  }
}
</script>

<style lang="sass">
</style>
