<template>
  <div class="q-pa-md">
    <div class="actions q-mb-md row q-gutter-sm">
      <template v-if="!editMode">
        <q-input
          v-if="!editMode"
          v-model="newGroupName"
          filled
          label="Add Group"
          dense
          style="max-width: 200px"
          @keypress.enter="addGroup"
        >
          <template v-slot:append>
            <q-icon
              name="group_add"
              class="cursor-pointer"
              @click="addGroup"
            />
          </template>
        </q-input>

        <q-input
          v-if="!selected || !selected.startsWith('person_')"
          v-model="newPersonName"
          filled
          :label="'Add Person' + (selected && selected.startsWith('group_') ? ' to group' : '')"
          dense
          style="max-width: 200px"
          @keypress.enter="addPerson"
        >
          <template v-slot:append>
            <q-icon
              name="person_add"
              class="cursor-pointer"
              @click="addPerson"
            />
          </template>
        </q-input>
      </template>

      <q-btn-group
        v-if="editMode"
        class="actions-for-selection"
      >
        <q-btn
          v-if="editMode && editMode.startsWith('persons')"
          :disable="editMode === 'persons-invalid' || (currentAction === 'add-to-group' && !selectedForAction.length)"
          :label="currentAction === 'add-to-group' ? `Confirm adding to ${selectedForAction.length} group(s)` : 'MOVE to group'"
          icon="add"
          color="secondary"
          bordered
          @click="onGroupAddClick()"
        />
      </q-btn-group>

      <q-btn
        v-if="currentAction || ticked.length"
        class="q-ml-sm"
        label="Cancel"
        icon="cancel"
        bordered
        @click="stopAction()"
      />
    </div>

    <div class="row">
      <div class="tree-container col">
        <q-input
          v-model="search"
          class="search"
          filled
          dense
          label="Search"
          clearable
        />

        <q-tree
          :nodes="personTree"
          accordion
          node-key="id"
          selected-color="primary"
          :expanded.sync="expanded"
          :selected.sync="selected"
          :ticked.sync="ticked"
          :tick-strategy="currentAction ? 'strict' : 'leaf-filtered'"
          :filter="search || (currentAction ? 'hack-to-trigger-filter' : '')"
          :filter-method="filterTree"
        />
      </div>

      <div class="details-container col q-ml-md">
        <q-card
          v-if="selectedEntity"
          flat
          bordered
          class="detail-card"
        >
          <q-card-section>
            <div class="text-h6 flex">
              {{ selectedEntity.name }} <span class="text-grey q-pl-sm">({{ selectedEntityType }})</span>
            </div>
            <div class="text-subtitle2">
              <code>{{ selectedEntity._id }}</code>
            </div>
          </q-card-section>

          <q-card-section v-if="selectedEntityType==='person'">
            Settlement group: <code>{{ selectedEntity.settlementGroup }}</code>
          </q-card-section>

          <!-- <q-popup-edit
            value="selectedEntity.person"
            @input="selectPersonFor"
          >
            <template v-slot="{ initialValue, value, emitValue, validate, set, cancel }">
              <q-select
            :value="selectedEntity.person"
            label="Person"
            filled
            use-input
            input-debounce="0"
            :options="persons"
            option-value="_id"
            option-label="name"
            new-value-mode="add-unique"
            @new-value
          />
            </template>
          </q-popup-edit>-->

          <q-card-section>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<!--########################################################################################################-->
<!--##########################################   SCRIPT   ##################################################-->
<!--########################################################################################################-->

<script>
// import CsvImporter from '../components/CsvImporter'
import { addGroup } from 'api/groups/methods'
import { csvExport } from '../utils/csv-utils'
import { currencyFormat } from '../utils/currency-utils'
import _ from 'lodash'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters, errorNotify } from '../utils/utils'
import { addPerson, addPersonsToGroups } from 'api/persons/methods'

export default {
  name: 'PeoplePage',
  components: {
    // CsvImporter,
  },
  mixins: [useSupply(MainData.name)],
  data: () => ({
    currentAction: null,
    search: '',
    expanded: [],
    selected: null,
    ticked: [],
    personsForAction: null,
    newPersonName: '',
    newGroupName: '',
    groupFields: [
      {
        name: 'name',
        label: 'Name',
        field: 'name',
        align: 'left',
        hints: ['group', 'name']
      }
    ]
  }),
  computed: {
    ...allSupplyGetters(MainData),

    personTree: function () {
      const personLeaf = (person, suffix = '') => ({
        id: 'person_' + person._id + suffix,
        label: person.name + (person._id === this.myPerson._id ? ' (ME)' : ''),
        icon: 'person'
      })
      return [
        {
          id: 'all',
          label: 'All',
          children: this.allPersons.map(p => personLeaf(p))
        },
        ...this.groups.map(group => ({
          id: 'group_' + group._id,
          label: group.name,
          icon: 'group',
          children: this.allPersons
            .filter(p => _.defaultTo(p.groups, []).includes(group._id))
            .map(p => personLeaf(p, `_ingroup-${group._id}`))
        }))
      ]
    },
    selectedEntityType: function () {
      if (!this.selected) return null
      return this.selected.split('_')[0]
    },
    selectedEntity: function () {
      if (!this.selected) return null
      if (this.selectedEntityType === 'group') {
        return _.find(this.groups, { _id: this.selected.split('_')[1] })
      } else if (this.selectedEntityType === 'person') {
        return _.find(this.allPersons, { _id: this.selected.split('_')[1] })
      } else {
        return null
      }
    },
    editMode: function () {
      if (this.ticked.length) {
        if (_.some(this.ticked, id => !id.startsWith('group_'))) { return 'persons' }
        return 'persons-invalid'
      }
      return null
    },
    selectedForAction: function () {
      if (this.currentAction === 'add-to-group') {
        return this.ticked.filter(
          id => id.startsWith('group_')
        )
      }
      throw new Error(
        `called selectedForAction, but currentAction=${this.currentAction}`
      )
    }
  },
  methods: {
    filterTree (node, filter) {
      console.log('Filter:', filter, node)
      if (this.currentAction === 'add-to-group' && (!node.id.startsWith('group_'))) {
        return false
      }
      if (filter === 'hack-to-trigger-filter') return true
      const filt = filter.toLowerCase()
      return node.label && node.label.toLowerCase().indexOf(filt) > -1
    },
    onGroupAddClick () {
      if (!this.currentAction) {
        this.personsForAction = this.ticked.map(t => t.split('_')[1])
        this.currentAction = 'add-to-group'
      } else if (this.currentAction === 'add-to-group') {
        const groups = this.selectedForAction
        addPersonsToGroups.call(
          {
            personIds: this.personsForAction,
            groupIds: groups.map(id => id.replace('group_', ''))
          },
          (err, result) => {
            if (err) console.error('Failed to add to groups:', err)
          }
        )
        this.stopAction()
        this.ticked = []
        this.expanded = groups
      }
    },
    stopAction () {
      if (!this.currentAction) {
        this.ticked = []
      } else {
        this.personsForAction = null
        this.currentAction = null
      }
    },

    // ACTIONS //

    async addGroup () {
      const name = this.newGroupName
      console.log('Creating group:', name)
      addGroup.call({ name }, (err, result) => {
        if (err) errorNotify(err)
        else {
          this.newGroupName = ''
          this.$q.notify({
            message: name + ' added',
            color: 'positive'
          })
        }
      })
    },
    async addPerson () {
      const name = this.newPersonName
      if (_.find(this.persons, { name })) {
        this.$q.notify({
          message: 'Already exists',
          color: 'negative'
        })
      }
      console.log('Creating person:', name)
      addPerson.call({ name }, (err, insertedId) => {
        if (err) errorNotify(err)
        else {
          console.log('Created person:', insertedId)
          this.newPersonName = ''

          if (this.selected && this.selected.startsWith('group_')) {
            addPersonsToGroups.call(
              {
                personIds: [insertedId],
                groupIds: [this.selectedEntity._id]
              },
              (err) => {
                if (err) errorNotify(err)
                else {
                  this.$q.notify({
                    message: name + ' added to group',
                    color: 'positive'
                  })
                }
              }
            )
          } else {
            this.$q.notify({
              message: name + ' added',
              color: 'positive'
            })
          }
        }
      })
    },
    async prepareEntry (entry) {
      console.log('Preparing group:', entry)
    },
    async exportCsv () {
      csvExport(this.groups)
    },
    currencyFormat
  }
}
</script>

<style lang=sass>
import

.actions
  min-height: 36px /* when no button is visible - preserve height */
.tree-container
  max-width: 400px
  .q-tree__node--selected
    background-color: #aaa /* TODO: accent color */
    .q-tree__node-header-content
</style>
