<template>
  <div class="q-pa-md col-sm-">
    <q-btn-group
      v-if="!user.readOnly"
      class="q-mb-md"
    >
      <q-btn
        label="Add pledge"
        icon="add"
        bordered
        @click="addModalOpen = true"
      />
      <q-btn
        v-if="user.isAdmin"
        label="Import CSV"
        icon="timeline"
        bordered
        @click="csvImporterOpen = true"
      />
      <q-btn
        v-if="user.isAdmin"
        label="Export CSV"
        icon="get_app"
        bordered
        @click="exportCsv()"
      />
    </q-btn-group>

    <div class="row">
      <div class="col">
        <span class="text-subtitle2">Total pledges: {{ currencyFormat(totalPledges) }}</span>
      </div>
    </div>
    <base-table
      class="pledges-table"
      title="Pledges"
      :data="pledges"
      :columns="fields"
      :loading="!allReady"
    />

    <template
      v-if="allReady"
    >
      <!-- Attempt: (didn't succeed) only render when ready so that the initial values are set with the data available -->
      <AddModal
        v-model="addModalOpen"
        entity-name="Pledge"
        :fields="fields"
        @result="addPledge"
      />
      <CsvImporter
        v-model="csvImporterOpen"
        :fields="fields"
        @result="importCsv"
      />
    </template>
  </div>
</template>

<script>
// import _ from 'lodash'
import moment from 'moment'
import CsvImporter from '../components/CsvImporter'
import AddModal from '../components/AddModal'
import BaseTable from '../components/BaseTable'
import { addPledge } from 'api/pledges/methods'
import currency from 'currency.js'
import { csvExport } from '../utils/csv-utils'
import { currencyFormat } from '../utils/currency-utils'
import { FieldType, findOrCreatePerson } from '../datamodel/data-helper'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters } from '../utils/utils'

export default {
  components: {
    CsvImporter,
    AddModal,
    BaseTable
  },
  mixins: [useSupply(MainData.name)],
  data: () => ({
    csvImporterOpen: false,
    addModalOpen: false,
    fields: [
      FieldType.TITLE,
      {
        ...FieldType.PERSON,
        name: 'payer',
        label: 'Giver',
        field: 'payer',
        hints: ['payer', 'giver', 'who', 'from']
      },
      {
        ...FieldType.PERSON,
        name: 'receiver',
        label: 'Receiver',
        field: 'receiver',
        hints: ['receiver', 'to']
      },
      FieldType.DATE,
      FieldType.AMOUNT
    ]
  }),
  computed: {
    ...allSupplyGetters(MainData),

    totalPledges () {
      return this.pledges
        .map(e => e.amount)
        .reduce((curr, val) => curr.add(val), currency(0))
    }
  },
  methods: {
    async addPledge (entry) {
      this.addModalOpen = false
      await this.prepareEntry(entry)
      console.log('Creating pledge:', entry)
      addPledge.call(entry, (err, result) => {
        if (err) console.error('Failed to add pledge:', err)
      })
    },
    async importCsv (entries) {
      this.csvImporterOpen = false
      for (const entry of entries) {
        await this.prepareEntry(entry)
        addPledge.call(entry, (err, result) => {
          if (err) console.error('Failed to add pledge:', err, entry)
        })
      }
    },
    async prepareEntry (entry) {
      console.log('Preparing pledge:', entry)
      entry.date = moment(entry.date).format()
      entry.group = this.myGroup._id
      entry.amount = currency(entry.amount).value
      const payer =
        typeof entry.payer === 'string'
          ? await findOrCreatePerson(entry.payer, this.groupMembers)
          : entry.payer
      entry.payer = payer._id
      if (entry.receiver) {
        const receiver =
        typeof entry.receiver === 'string'
          ? await findOrCreatePerson(entry.receiver, this.groupMembers)
          : entry.receiver
        entry.receiver = receiver._id
      }
    },
    async exportCsv () {
      csvExport(this.pledges)
    },
    currencyFormat
  }
}
</script>

<style lang=sass>

</style>
