<template>
  <q-dialog
    :value="value"
    @input="$event === false && cancel()"
  >
    <q-card
      style="min-width: 70vw"
    >
      <q-card-section>
        <div class="text-h6">
          Input CSV
        </div>
        <em>Hint: You can copy and paste from Sheet editors (Excel, Calc, Google Sheets)</em>
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="content"
          type="textarea"
          autofocus
          outlined
        />
      </q-card-section>

      <q-card-section
        v-if="parsed"
      >
        <q-list
          bordered
          padding
          class="csv-column-chooser-list"
        >
          <q-item
            v-for="heading in parsedHeaders"
            :key="heading"
          >
            <q-item-section>
              <q-item-label
                overline
                class="text-weight-bold"
              >
                {{ heading }}
                <span class="text-caption">
                  ({{ samples(heading).join(", ") }})
                </span>
              </q-item-label>
              <q-item-label>
                <q-select
                  v-model="headerSelection[heading]"
                  outlined
                  dense
                  clearable
                  :options="fields"
                  emit-value
                  map-options
                  :option-value="optionValue"
                />
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-actions
        align="right"
        class="text-primary"
      >
        <q-btn
          flat
          label="Cancel"
          @click="cancel()"
        />
        <q-btn
          flat
          label="Import"
          @click="importCsv()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import _ from 'lodash'
import Papa from 'papaparse'

export default {
  props: {
    value: Boolean,
    fields: { type: Array, required: true },
    optionValue: { type: String, default: 'field' }
  },
  data: () => ({
    content: '',
    parsed: null,
    errors: null,
    headers: null,
    headerSelection: {}
  }),
  computed: {
    parsedHeaders: self => self.parsed ? _.keys(self.parsed[0]) : null
  },
  watch: {
    content (oldVal, newVal) {
      this.parseCsv(this)
    },
    parsed (oldVal, newVal) {
      this.guessHeaders()
    }
  },
  methods: {
    cancel () {
      this.content = ''
      this.$emit('input', false)
    },
    parseCsv: _.debounce(self => {
      const result = Papa.parse(self.content, {
        header: true
      })
      console.log('Parsed csv:', result)
      self.parsed = result.data
      self.errors = result.errors
      self.headers = _.keys(result.data[0])
      for (const heading of self.headers) {
        if (!self.headerSelection[heading]) { self.$set(self.headerSelection, heading, null) }
      }
    }),
    importCsv () {
      const result = []
      for (const row of this.parsed) {
        const entry = {}
        for (const heading in this.headerSelection) {
          const field = this.headerSelection[heading]
          if (field) { entry[field] = row[heading] }
        }
        result.push(entry)
      }
      // TODO: default date?
      console.log('Mapped result:', result)
      this.content = ''
      this.$emit('result', result)
    },
    samples (heading) { return _.sampleSize(this.parsed.map(row => row[heading]), 3) },
    guessHeaders () {
      for (const heading of this.headers) {
        const words = _.words(heading.toLowerCase())
        if (!this.headerSelection[heading]) {
          // console.log(`Heading '${heading}' words: `, words)
          for (const col of this.fields) {
            if (_.intersection(col.hints, words).length) {
              this.headerSelection[heading] = col.name
              break
            }
          }
        }
      }
    }
  }
}
</script>

<style lang=sass>

.csv-column-chooser-list
  .q-item__label--overline
    white-space: nowrap
    display: flex
    align-items: center
    justify-content: space-between

    .text-caption
      padding-left: 10px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

</style>
