<template>
  <q-badge :style="{backgroundColor: color}">
    {{ person }}
  </q-badge>
</template>

<script>

import { colorHash } from '../utils/color-utils'
export default {
  props: { person: { type: String, required: true } },
  computed: {
    color () {
      return colorHash.hex(this.person)
    }
  }
}
</script>

<style lang="sass">

</style>
