<template>
  <q-card
    class="settlement-card text-center"
  >
    <q-card-section
      class="q-pb-md"
      :style="{color: payment.fromColor}"
    >
      <div class="text-subtitle1">
        {{ payment[other] }}
      </div>
      <div class="text-h5 text-weight-bold">
        {{ currencyFormat(payment.amount) }}
      </div>
    </q-card-section>

    <q-separator />

    <q-card-actions align="right">
      <q-btn
        flat
        icon="done"
        class="color-primary"
        @click="markDone(payment)"
      >
        Done
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { currencyFormat } from '../utils/currency-utils'

export default {
  name: 'SettlementCard',
  props: {
    payment: { type: Object, required: true },
    other: { type: String, required: true }
  },
  methods: {
    currencyFormat
  }
}
</script>

<style lang="sass">

</style>
