<template>
  <q-layout view="hHh lpR fFf">
    <q-header
      elevated
      class="bg-primary text-white"
      height-hint="98"
    >
      <q-toolbar>
        <!-- <q-btn
          dense
          flat
          round
          icon="menu"
          @click="left = !left"
        />-->

        <q-toolbar-title @click.alt.prevent="$supply.MainData.reloadSupply()">
          <span
            v-if="myGroup"
            class="group-title text-weight-light"
          >{{ myGroup.name }}</span>
          <router-link
            to="/"
            class="unstyled-link app-title"
          >
            {{ myGroup ? ' - ' : '' }}
            Paymints
          </router-link>
        </q-toolbar-title>

        <div class="user-section">
          <!-- <q-btn
            v-if="!user"
            flat
            text-color="primary"
            label="Log in"
            @click="login"
          />-->
          <q-btn-dropdown
            v-if="user"
            :color="user && user.isAdmin ? 'black' : 'white'"
            text-color="primary"
            rounded
            dense
            content-class="user-dropdown"
            menu-self="top right"
            :title="JSON.stringify(user)"
          >
            <template slot="label">
              <span class="q-ml-sm flex">
                {{ user.profile.name || user.emails[0].address }}
                <q-badge
                  v-if="myBalance"
                  color="secondary"
                  text-color="white"
                  dense
                  size="sm"
                  floating
                >{{ currencyFormat(myBalance) }}</q-badge>
              </span>
            </template>

            <q-list>
              <q-item
                v-close-popup
                clickable
                @click="$q.notify('Coming soon.')"
              >
                <q-item-section>
                  <q-item-label>
                    <q-icon name="account_circle" />Profile
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item
                v-close-popup
                clickable
                @click="logout()"
              >
                <q-item-section>
                  <q-item-label>
                    <q-icon name="logout" />Logout
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
      </q-toolbar>

      <main-menu class="mobile-hide" />
    </q-header>

    <q-footer>
      <main-menu class="mobile-only" />
    </q-footer>

    <!-- <q-drawer
      v-model="left"
      show-if-above
      side="left"
      bordered
    >
    </q-drawer>-->

    <q-page-container>
      <q-banner
        v-if="status.status !== 'connected' && status.retryCount > 0"
        inline-actions
        class="text-white bg"
      >
        Not connected to the server
        {{ JSON.stringify(status) }}
      </q-banner>
      <router-view class="relative-position" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { currencyFormat } from '../utils/currency-utils'
import { allSupplyGetters } from '../utils/utils'
import MainMenu from '../components/MainMenu'

export default {
  name: 'Layout',
  components: { MainMenu },
  mixins: [useSupply(MainData.name)],
  computed: { ...allSupplyGetters(MainData) },
  created: function () {
    // console.clear()
    console.log('Layout component created', this)
    // Go to login if not logged in
    if (!this.userId && !this.$route.meta.noLoginRedirect) {
      console.log('Route:', this.$route, 'Status:', this.status, 'User:', this.userId, this.user)
      this.$q.notify('Please log in to continue')
      this.$router.push('/')
    }
  },
  methods: {
    logout () {
      this.$q.notify('You logged out')
      this.$meteor.logout()
      this.$router.push('/')
    },
    currencyFormat
  }
}
</script>

<style lang="sass">
@media(max-width: 400px)
  .group-title ~ .app-title
    display: none

.user-dropdown
  margin-top: 5px
  min-width: 10em !important
</style>
